<html>
<head>
<style type='text/css'>
.hit {
  background: red;
}
td {
  border: 1px solid black;
  height: 20px;
  width: 20px;
}
</style>
</head>
<body>
  <table>
    {% for row in values %}
      <tr>
      {% for val in row %}
        <td class="{{val}}">  </td>
      {% endfor %}
      </tr>
    {% endfor %}
  </table>
</body>

<a href='/grids'>Home</a>
</html>