<html>
<body>
{% if grid_list %}
    <h3>Last 5 created grids</h3>
    <ul>
    {% for grid in grid_list %}
        <li><a href="/grids/detail/{{ grid.id }}/">{{ grid.offset }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Grids are available.</p>
{% endif %}

<form action="/grids/create/" method="post">
{% csrf_token %}
<h3>Create a grid</h3>
<label>Offset Value:</label> <input type='text' name="offset"></input>

<input type="submit" value="Create" />
</form>

</body>
</html>